@import "../assets/partial/variable";
@import "../assets/partial/mixing";
@import "../assets/partial/reset";

.container {
    max-width: 90%;
    margin: 0 auto;
}

.explore-more {
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: $font-16 * 1;
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.8rem 2rem;
    border-radius: 35px;
    color: $black;
    font-weight: $font-bold;
}

.b-container {
    border: 3px solid #c4bebe;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .dot {
        height: 12px;
        width: 12px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;

        &:nth-child(1) {
            background-color: $red;
        }

        &:nth-child(2) {
            background-color: $yellow;
        }

        &:nth-child(3) {
            background-color: $green;
        }
    }

    .top {
        padding: 10px;
        background: #f1f1f1;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .content {
        padding: 10px;
        position: relative;
    }
}

header {
    background-color: $white;
    box-shadow: 1px 1px 20px 1px (rgba($color: #000000, $alpha: 0.1));
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 1rem 0;

    .container {
        max-width: 90%;
        margin: 0 auto;
        @include display-flex-center-justify;
    }
}

.logo-wrapper {
    a {
        @include display-flex-center-justify;
        text-decoration: none;
        font-weight: $font-bold;
        color: $black;
        font-size: $font-16 * 2;
        text-transform: capitalize;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }

        svg {
            width: 30px;
            height: 30px;
            fill: $black;
        }

        span {
            @media (max-width:500px) {
                font-size: $font-16;
            }
            padding-left: 10px;
            color: inherit;
        }
    }
}

nav {
    ul {
        @include display-flex-center-justify;

        li {
            text-decoration: none;
            list-style-type: none;

            a.icon {

                cursor: pointer;
                text-decoration: none;
                padding: 0 10px;

                :last-child {
                    padding: 0 0;
                }

                &:hover {
                    text-decoration: none;
                }

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

        }
    }
}

.main-warapper {
    min-height: calc(100vh - 72px);
}

.aboutus {
    padding-top: 3rem;
    position: relative;

    @media (max-width:991px) {
        padding: 1rem;
    }


    .bck {
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 150vh;
        z-index: 1;


        @media (max-width:991px) {
            display:none;
        }

        img {
            position: absolute;
            z-index: 3;

            &:nth-child(1) {
                right: -25%;
                top: -40%;
                left: auto;
                bottom: auto;

                @media (max-width:1600px) {
                    right: -55%;
                }
                
            }

            &:nth-child(2) {
                top: 20%;
                left: -30%;
                right: auto;
                bottom: auto;
                @media (max-width:1600px) {
                    left: -40%;
                }
                @media (max-width:1100px) {
                    display:none;
                }
            }

            &:nth-child(3) {
                top: 40%;
                right: -10%;
                left: auto;
                bottom: auto;
                @media (max-width:1600px) {
                    right: -20%;
                }

                @media (max-width:1100px) {
                    display:none;
                }
            }

            &:nth-child(4) {
                left: -190px;
                top: 10px;
            }

        }
    }

    .content {
        padding: 5rem 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        z-index: 2;
        @media (max-width:1100px) {
            justify-content: center;
            text-align: center;
        }
    }

    .profile {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: rgba($color: #000000, $alpha: 0.1);
        margin-bottom: 1rem;
        border: 2px solid rgb(170, 168, 168);
        overflow: hidden;
        position: relative;

        .rohit {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    h2 {
        font-size: 4rem;
        color: #f35626;
        background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: hue 10s infinite linear;

        @media (max-width:768px) {
            font-size: 2rem;
        }

        
        brake{
            font-family: 'Yesteryear', cursive;
            font-size: 5rem;
            @media (max-width:500px) {
                display: block;
            }
        }
    }
    
    @-webkit-keyframes hue {
      from {
        -webkit-filter: hue-rotate(0deg);
      }
      to {
        -webkit-filter: hue-rotate(-360deg);
      }
    }
    
    h3 {
        font-size: 3rem;
        color:$black;
        @media (max-width:768px) {
            font-size: 1.5rem;
        }
    }

    .info {
        width: calc(100vh / 2 * 2);
        margin: 0 auto;
        text-align: center;
        @media (max-width:1100px) {
            width: 100%;
        }

        p {
            font-weight: $font-bold;
            color:$black;
        }
    }

    .lang {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        flex-direction: row;

        @media (max-width:1100px) {
            justify-content: center;
    flex-wrap: wrap;
        }

        li {
            margin: 1rem;
        }

        svg {
            width: 50px;
            height: 50px;
        }
    }
}

.projects {
    padding: 6rem 2rem;
    width: 100%;

    .title {
        text-align: center;
        font-size: $font-16 * 3;
        font-weight: $font-bold;
        text-transform: uppercase;
        margin-bottom: 2rem;
        color:$white;
        background: #00d2ff;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            }

    .project-grid_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        position: relative;
        z-index: 9;

        .card {
            width: 100%;
            overflow: hidden;
            @include transition-all;
            cursor: pointer;

            &:hover {
                @include transition-all;
                transform: translate(0, -10px);
            }
        }

    }
}

.grid_2{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;

    .content-text, .content-img{
        flex: 0 0 50%;
    }

    .content-text{
        h2{
            color: #00d2ff;
            font-size: 3.5rem;
            font-weight: 900;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .content-img{
        text-align: center;
    }
}

//Floating-button
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
  z-index:100;
}

.under-m{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    z-index: 9999;
}